Return error type as defined in the spec

The error returned should be a custom error type that contains:
https://spec.secapi.cloud/docs/api/Foundation/Compute-v1/create-or-update-instance
Example return:
<pre>
type
string
required
The type of error, expressed as a URI.

Possible values: <= 4000 characters

Example: https://httpstatuses.io/400
title
string
required
A short, human-readable summary of the problem type. It SHOULD NOT change from occurrence to occurrence of the problem, except for purposes of localization (e.g., using proactive content negotiation; see [RFC7231], Section 3.4).

Possible values: <= 1024 characters

status
number
required
The HTTP status type ([http://secapi.eu/errors/-rfc7231], Section 6) generated by the origin server for this occurrence of the problem.

Possible values: >= 100 and <= 599

Example: 400
detail
string
A human-readable explanation specific to this occurrence of the problem.

Possible values: <= 32768 characters

instance
string
required
A URI reference that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.

Possible values: <= 256 characters

sources
object[]
meta
object
A meta object containing non-standard meta-information about the error.
</pre>